<h1 class="nav" style="background-color:rgb(194, 16, 31); color:antiquewhite;">
  𝐇𝐎𝐒𝐏𝐈𝐓𝐀𝐋 𝐒𝐄𝐑𝐕𝐈𝐂𝐄𝐒 𝟐𝟒/𝟕
</h1>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" style="background-color:rgb(245, 243, 243); color:blue;" aria-current="page" routerLink="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" style="background-color:rgb(245, 243, 243); color:blue;"aria-current="page" routerLink="/admin">Admin</a>
  </li>
</ul>
<div class="container">
<img src="assets/hospitalsystem.jpg" style="width:100%">
  <div style="position:absolute;top:40%;left:50%;transform:translate(-50%,-50%);">
    <h3>"𝐇𝐎𝐒𝐏𝐈𝐓𝐀𝐋 𝐈𝐒 𝐀𝐋𝐋 𝐀𝐁𝐎𝐔𝐓 𝐇𝐄𝐀𝐋𝐈𝐍𝐆"</h3>
  </div>
<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"><div class="btn-group">
  <a routerLink="/booking-appointment" class="btn btn-primary active" aria-current="page">Book an Appointment</a>
</div></div>
 </div>
